<body>
  <div id="titulo" class="container mt-2 p-4 bg-info rounded">
    <h1>
      Universidade São Judas Iscariotes
    </h1>
  </div>

  <div id="banner" class="container mt-2 p-4 bg-light rounded">
    <div class="row">
      <div class="col-sm-10 col-md-12">
        <h2>
          Matrículas abertas, use sua nota ENEM para obter bolsas de desconto.
        </h2>
      </div>
    </div>
  </div>

  <br>

  <app-cursos></app-cursos>

  <br>

  <app-professores></app-professores>

  <article>
    <div id="cursos" class="row mt-3 p-5">
      <div class="col-sm-10 col-md-12">
        <h3>
          Cursos
        </h3>
        <h5>
          Mais informações abaixo.
        </h5>
      </div>
    </div>

    <article>
      <div class="row p-5">
        <div class="col-sm-10 col-md-12">
          <h2>Ciência da Computação</h2>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsedCcp = !isCollapsedCcp"
            [attr.aria-expanded]="!isCollapsedCcp" aria-controls="ccp">
            Leia os detalhes
          </button>
          <div id="ccp" [ngbCollapse]="isCollapsedCcp">
            <div class="card card-body">
              <p>
                Ciência da computação é a ciência que estuda as técnicas, metodologias, instrumentos computacionais
                e aplicações tecnológicas, que automatizem os processos e desenvolvam soluções de processamento de
                dados de entrada e saída pautado no computador, de forma que se transforme em informação. Não se
                restringindo apenas ao estudo dos algoritmos, suas aplicações e implementação na forma de software.
                Assim, a Ciência da Computação também abrange as técnicas de modelagem de dados e gerenciamento de banco de
                dados, envolvendo também a telecomunicação e os protocolos de comunicação, além de princípios que abrangem
                outras especializações da área.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="row p-5">
        <div class="col-sm-10 col-md-12">
          <h2>Engenharia</h2>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsedEng = !isCollapsedEng"
            [attr.aria-expanded]="!isCollapsedEng" aria-controls="eng">
            Leia os detalhes
          </button>
          <div id="eng" [ngbCollapse]="isCollapsedEng">
            <div class="card card-body">
              <p>
                Engenharia é a aplicação do conhecimento científico, econômico, social e prático,
                com o intuito de inventar, desenhar, construir, manter e melhorar estruturas, máquinas,
                aparelhos, sistemas, materiais e processos. É também profissão em que se adquire e se aplicam os
                conhecimentos matemáticos e técnicos na criação, aperfeiçoamento e implementação de utilidades que
                realizem uma função ou objetivo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="row p-5">
        <div class="col-sm-10 col-md-12">
          <h2>Medicina</h2>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsedMed = !isCollapsedMed"
            [attr.aria-expanded]="!isCollapsedMed" aria-controls="med">
            Leia os detalhes
          </button>
          <div id="med" [ngbCollapse]="isCollapsedMed">
            <div class="card card-body">
              <p>
                A medicina é uma das muitas áreas do conhecimento ligada à manutenção e restauração da saúde.
                Ela trabalha, num sentido amplo, com a prevenção e cura das doenças humanas e animais num contexto
                médico.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="row p-5">
        <div class="col-sm-10 col-md-12">
          <h2>Direito</h2>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsedDir = !isCollapsedDir"
            [attr.aria-expanded]="!isCollapsedDir" aria-controls="dir">
            Leia os detalhes
          </button>
          <div id="dir" [ngbCollapse]="isCollapsedDir">
            <div class="card card-body">
              <p>
                O direito é tradicionalmente dividido em ramos, como o direito civil, direito penal, direito
                comercial,
                direito constitucional, direito administrativo e outros, cada um destes responsável por regular as
                relações interpessoais nos diversos aspectos da vida em sociedade.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <div class="row p-5">
        <div class="col-sm-10 col-md-12">
          <h2>Administração</h2>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsedAdm = !isCollapsedAdm"
            [attr.aria-expanded]="!isCollapsedAdm" aria-controls="adm">
            Leia os detalhes
          </button>
          <div id="adm" [ngbCollapse]="isCollapsedAdm">
            <div class="card card-body">
              <p>
                É uma área do conhecimento fundamentada em um conjunto de princípios, normas e funções elaboradas
                para
                disciplinar os fatores de produção, tendo em vista o alcance de determinados fins como maximização
                de
                lucros ou adequada prestação de serviços públicos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </article>

  <footer class="fixed-bottom">
    <strong> Entre em contato conosco. Telefone: (XX) XXXX-XXXX Email: USJI@usji.br </strong>
  </footer>

</body>